rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /bikes/{bike} {
      allow read;
      allow write, create: if request.auth.uid != null;
    }   
  }
}