.App {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 90%;
  height: auto;
}

shadow {
  display: block;
  position: relative;
}

.shadow:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-box-shadow: inset 0px 0px 6px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: inset 0px 0px 6px 6px rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 6px 6px rgba(255, 255, 255, 1);
}

div.black-button {
  width: 400px;
  height: 26px;
  border-radius: 15px;
  background-color: #000000;
}

section.home-section-1 {
  width: 100%;
  height: 33%;
}

section.center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rounded-corners {
  border-radius: 2%;
}
